<a href="https://colab.research.google.com/github/AlyaAlshammari/UOH-ISEC243/blob/main/lab3__numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NumPy

![image.png]()

The source of this notbook is https://numpy.org/devdocs/user/absolute_beginners.html

## What is NumPy?

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, and much more.

At the core of the NumPy package, is the **ndarray** object. This encapsulates n-dimensional arrays of homogeneous data types, with many operations being performed in compiled code for performance.

NumPy features :
* NumPy arrays have a fixed size at creation, unlike Python lists (which can grow dynamically).

* The elements in a NumPy array are all required to be of the same data type, and thus will be the same size in memory. The exception: one can have arrays of (Python, including NumPy) objects, thereby allowing for arrays of different sized elements.

* NumPy arrays facilitate advanced mathematical and other types of operations on large numbers of data.

## How to import NumPy

In [ ]:
import numpy as np

## Array fundamentals

In [ ]:
#One way to initialize an array is using a Python sequence, such as a list
a = np.array([1, 2, 3, 4, 5, 6])
a

array([1, 2, 3, 4, 5, 6])

In [ ]:
# We can access an individual element of this array using the integer index of the element within square brackets.
a[0]

1

In [ ]:
# The array is mutable, we can change the value of elements
a[0] = 10
a

array([10,  2,  3,  4,  5,  6])

In [ ]:
# For indexing , we use Python slice notation
a[:3]

array([10,  2,  3])

In [ ]:
b = a[3:]
b

array([4, 5, 6])

In [ ]:
# Two- and higher-dimensional arrays can be initialized from nested Python sequence
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## Array attributes

In [ ]:
# The number of dimensions of an array is contained in the ndim attribute
# 2D array -> 2 dimensions
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a.ndim

2

In [ ]:
# The shape of an array is a tuple of non-negative integers that specify the number of elements along each dimension.
# 3 rows , 4 columns
a.shape

(3, 4)

In [ ]:
# The fixed, total number of elements in array is contained in the size attribute
a.size

12

In [ ]:
# Arrays are typically “homogeneous”, meaning that they contain elements of only one “data type”.
# The data type is recorded in the dtype attribute.
a.dtype

dtype('int64')

## How to create a basic array

In [ ]:
# create an array filled with 0’s
np.zeros(2)

array([0., 0.])

In [ ]:
# create an array filled with 1’s
np.ones(5)

array([1., 1., 1., 1., 1.])

In [ ]:
# The function empty creates an array whose initial content is random and depends on the state of the memory.
np.empty(2)

array([0., 0.])

In [ ]:
# create an array with a range of elements
np.arange(4)

array([0, 1, 2, 3])

In [ ]:
# create an array with a range of elements, specify the first number, last number, and the step size.
np.arange(2, 9, 2)

array([2, 4, 6, 8])

In [ ]:
# create an array with values that are spaced linearly in a specified interval using np.linspace()
np.linspace(0, 10, num=5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

## Adding, removing, and sorting elements

In [ ]:
# sort the numbers in ascending order
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
np.sort(arr)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
# concatenate two arrays with np.concatenate()
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])
np.concatenate((a, b))

array([1, 2, 3, 4, 5, 6, 7, 8])

## Can you reshape an array?

In [ ]:
# Using array.reshape() will give a new shape to an array without changing the data
a = np.arange(6)
print(a)
print(a.shape)

[0 1 2 3 4 5]
(6,)

In [ ]:
b = a.reshape(3, 2)
print(b)
print(b.shape)

[[0 1]
 [2 3]
 [4 5]]
(3, 2)

## Indexing and slicing

In [ ]:
# You can index and slice NumPy arrays in the same ways you can slice Python lists
data = np.array([1, 2, 3])

In [ ]:
data[1]

2

In [ ]:
data[0:2]

array([1, 2])

In [ ]:
data[1:]

array([2, 3])

In [ ]:
data[-2:]

array([2, 3])

In [ ]:
print(data[data < 2])

[1]

## Basic array operations

In [ ]:
# addition, subtraction, multiplication, division, and more
data = np.array([1, 2])
ones = np.ones(2, dtype=int)
data + ones

array([2, 3])

In [ ]:
a= data - ones
print(a)
b= data * ones
print(b)
c= data / ones
print(c)
d=data * 1.6
print(d)

[0 1]
[1 2]
[1. 2.]
[1.6 3.2]

In [ ]:
# Sum of elemnts in array

a = np.array([1, 2, 3, 4])
a.sum()

10

In [ ]:
data.max()

2

In [ ]:
data.min()

1

In [ ]:
data.sum()

3

## Creating matrices

In [ ]:
data = np.array([[1, 2], [3, 4], [5, 6]])
data

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
# shape multidimensional arrays
data.shape

(3, 2)

In [ ]:
# reshape multidimensional arrays
data.reshape(2, 3)

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
# flattening multidimensional arrays
data.flatten()

array([1, 2, 3, 4, 5, 6])

# Student Evaluation

Student Evaluation out of 7 marks

*1. Import the numpy package under the name np*

*2.Create a null vector of size 10*

*3.Create a null vector of size 10 but the fifth value which is 1*

*4.Create a vector with values ranging from 10 to 49*

*5.Create a 3x3 matrix with following values:*

![image.png]()

*6.Flatten the 3x3 matrix*

*7.Use numpy Indexing and slicing to access [6] in the above 3x3 matix*