<a href="https://colab.research.google.com/github/AlyaAlshammari/UOH-ISEC243/blob/main/Lab3__Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

![image.png]()

The source of this notbook is https://pandas.pydata.org/docs/getting_started/overview.html  and  https://www.w3schools.com/python/pandas

## What is Pandas?

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis/manipulation tool available in any language. It is already well on its way toward this goal.

Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.

## How to import Pandas

In [1]:
import pandas as pd

## Basic data structures in pandas

Pandas provides two types of classes for handling data:

* Series: a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

* DataFrame: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [2]:
#Create a simple Pandas Series from a list
a = [1, 2, 3, 4, 5, 6]
b= pd.Series(a)
print(b)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
# Create a DataFrame from two Series
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
# Create a DataFrame
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)


df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Viewing data

In [5]:
# Use DataFrame.head() and DataFrame.tail() to view the top and bottom rows of the frame respectively
df.head(2)

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [6]:
df.tail(1)

                       Name  Age     Sex
2  Bonnell, Miss. Elizabeth   58  female

In [7]:
# Display the DataFrame.index or DataFrame.columns
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.columns

Index(['Name', 'Age', 'Sex'], dtype='object')

In [9]:
# Return a NumPy representation of the underlying data with DataFrame.to_numpy() without the index or column labels
df.to_numpy()

array([['Braund, Mr. Owen Harris', 22, 'male'],
       ['Allen, Mr. William Henry', 35, 'male'],
       ['Bonnell, Miss. Elizabeth', 58, 'female']], dtype=object)

In [10]:
# describe() shows a quick statistic summary of your data
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

## Selection

In [11]:
#refer to the row index:
print(df.loc[0])

Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object

In [12]:
#use a list of indexes:
print(df.loc[[0, 1]])

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [13]:
#Add a list of names to give each row a name
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [14]:
#refer to the named index:
print(df.loc["day1"])

calories    420
duration     50
Name: day1, dtype: int64

## Load Files Into a DataFrame

In [15]:
df = pd.read_csv('https://www.alvinang.sg/s/iris_dataset.csv')
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [16]:
#Print information about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

# Student Evaluation

Student Evaluation out of 7 marks

*1. Import the Pandas package under the name pd*

*2.Create a Pandas Series from the list [7, 9, 3, 2, 5, 6]*

*3.Load iris_dataset cvs file into dataframe df*

*4. Print the top 5 rows of the  df frame*

*5. Print the 10th raw*

*6.Print the species column*

*7. Shows a quick statistic summary of the df data*